*{
    margin: 0;
    padding: 0;
}
body{
   font-family: sans-serif;
}

#form-container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-inline: auto;
    margin-block-start: 2rem;
    font-family: sans-serif;
}

label{
    display: block;
    font-size: 1.3rem;
    margin-block-start: 1rem;
    
}

input{
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    font-size: 1rem;
    padding-block: 1rem;
    padding-inline-end: 4rem;
    padding-inline-start: 1rem;
    outline: none;
}

button{
    border: 2px solid  rgb(31, 31, 137);
    border-radius: 15px;
    color: black;
    background-color: white;
    padding: 1rem;
    font-size: 1.3rem;
    margin-block: 1rem;
    cursor: pointer;
    outline: none;
}

.invalid,#alert{
    color: red;
margin-block-start: .5rem;
font-size: .7rem;
display: none;
}
